:root {
    --bg_first_button_color: #039be5;
    --bg_second_button_color: #43e97b;
    --bg_third_button_color: #38f9d7;
    --bg_fourth_button_color: #007099;
    --shadow_primary_button_color: rgba(145, 64, 248, 0.5);
    --shadow_second_button_color: rgba(39, 200, 255, 0.5);
    --shadow-third_button_color: rgba(16, 226, 253, 0.5);
    --shadow-fourth_button_color: rgba(183, 0, 255, 0.7);
    --primary_text_color: #fff;
    --second_text_color: black;
    --third_text_color: azure;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 800;

}
.container {
    min-height: 88.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.btn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}
/*btn-1:*/
.btn-1{
    background-color: var(--bg_first_button_color, blue);
    color: var(--primary_text_color, white);
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.btn-1::after, .btn-1::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: var(--bg_first_button_color, blue);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;    
}
.btn-1:hover {
    transform: translate(-12px, -12px);
}
.btn-1:hover::after {
    transform: translate(6px, 6px);
}
.btn-1:hover::before {
    transform: translate(12px, 12px);
}
/*btn-2*/
.btn-2 {
    color: var(--bg_first_button_color, blue);
}
.btn-2::after, .btn-2::before {
    border: 3px solid var(--bg_first_button_color, blue);
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.btn-2:hover::after {
    transform: translate(-5px, -5px);
}
.btn-2:hover::before {
    transform: translate(5px, 5px); 
}
/*btn-3*/
.btn-3 {
    color: var(--primary_text_color, white);
    border-radius: 40px;
    box-shadow: 0 0 0 0 var(--shadow_primary_button_color), 0 0 0 0 var(--shadow_second_button_color);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-3::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(to right, var(--bg_second_button_color) 0%, var(--bg_third_button_color) 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}
.btn-3:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 var(--shadow-third_button_color), -10px 10px 25px 0 var(--shadow-fourth_button_color);
}
.btn-3:hover::after {
    transform: rotate(150deg);
}
/*La parte del footer no tiene animacion no es necesario:*/
.madeby {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    background-color: var(--third_text_color);
    padding: 1rem 0;
}
.madeby a {
    text-decoration: none;
    color: var(--second_text_color);
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--bg_fourth_button_color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: var(--second_text_color);
    gap: 0.5rem;
}
.logo-container img {
    width: 40px;
    border-radius: 50%;
}
.logo-container span {
    margin-right: 0.5rem;
}